header {
  /* background-color: rgb(76, 0, 139); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* color: white; */
  padding: 0 15px;
}


header nav {
  display: flex;
}


